{% extends "base.html" %}

{% block content %}

  <h1>Buggy</h1>

  <table>
    <tr>
      <td>ID:</td> <td> {{ buggy['id'] }} </td>
    </tr>
    <tr>
      <td>Wheels:</td> <td> {{ buggy['qty_wheels'] }} </td>
    </tr>
    <tr>
      <td>Flag Colour:</td> <td> {{ buggy['flag_color'] }} </td>
    </tr>
    <tr>
      <td>Flag Pattern:</td> <td> {{ buggy['flag_pattern'] }} </td>
    </tr>
    <tr>
      <td>Flag Secondary Colour:</td> <td> {{ buggy['flag_color_secondary'] }} </td>
    </tr>
    <tr>
      <td>Primary motive power:</td> <td> {{ buggy['power_type'] }} </td>
    </tr>
    <tr>
      <td>Primary motive power units:</td> <td> {{ buggy['power_units'] }} </td>
    </tr>

  </table>

  <p>
    <a href="/" class="button">home</a>
  </p>

{% endblock %}
