{% extends "base.html" %}

{% block content %}

  <h1>Make buggy</h1>

  <form action="/new" method="post">
    <label for="qty_wheels">Number of wheels:</label>
    <input type="text" name="qty_wheels" />
    <label for="flag_color">Colour of flag:</label>
    <input type="text" name="flag_color" />
    <label for="flag_pattern">Pattern on flag:</label>
    <input type="text" name="flag_pattern" />
    <label for="flag_color_secondary">Secondary colour on flag:</label>
    <input type="text" name="flag_color_secondary" />
    <label for="power_type">Primary motive power:</label>
    <input type="text" name="power_type" />
    <label for="power_units">Primary motive power units:</label>
    <input type="text" name="power_units" />
    <label for="aux_power_type">Auxiliary motive power:</label>
    <input type="text" name="aux_power_type" />
    <label for="aux_power_units">Auxiliary motive power units:</label>
    <input type="text" name="aux_power_units" />
    <label for="hamster_booster">Hamster booster:</label>
    <input type="text" name="hamster_booster" />
    <label for="tyres">Type of tyres:</label>
    <input type="text" name="tyres" />
    <label for="qty_tyres">Number of tyres:</label>
    <input type="text" name="qty_tyres" />
    <label for="armour">Armour:</label>
    <input type="text" name="armour" />
    <input type="submit" class="button">

  </form>

  <p>
    <a href="/" class="button">home</a>
  </p>

{% endblock %}
