{% extends "base.html" %}

{% block content %}

  <h1>Make buggy</h1>

  <div class="container">
  <form action="/new" method="post" class="options">

  	<fieldset>
  		<legend>Flag design:</legend>

  		<label for="flag_color">Colour of flag:</label>
    	<input type="color" name="flag_color" value="#FFFFFF"/>

    	<br>

    	<label for="flag_pattern">Pattern on flag:</label>
    	<select id="flag_pattern" name="flag_pattern">
    		<option value="plain" selected>Plain</option>
    		<option value="vstripe">Vertical stripes</option>
    		<option value="hstripe">Horizontal stripes</option>
    		<option value="dstripe">Diagonal stripes</option>
    		<option value="checker">Checkered</option>
    		<option value="spot">Spots</option>
   	 	</select>

   	 	<br>

   	 	<label for="flag_color_secondary">Secondary colour on flag:</label>
    	<input type="color" name="flag_color_secondary" value="#000000" />

  	</fieldset>



  	<fieldset>
  		<legend>Wheels and Tyres:</legend>

  		<label for="qty_wheels">Number of wheels:</label>
    	<input type="number" name="qty_wheels" min="4" value="4" step="2" />

    	<br>

    	<label for="tyres">Type of tyres:</label>
    	<select id="tyres" name="tyres">
    		<option value="knobbly" selected>Knobbly</option>
    		<option value="slick">Slick</option>
    		<option value="steelband">Steelband</option>
    		<option value="reactive">Reactive</option>
    		<option value="maglev">Maglev</option>
    	</select>

    	<br>

    	<label for="qty_tyres">Number of tyres:</label>
    	<input type="number" name="qty_tyres" value="4" min="4" />

  	</fieldset>

 

  	<fieldset>
  		<legend>Power:</legend>

  		<label for="power_type">Primary motive power:</label>
    	<select id="power_type" name="power_type">
    		<option value="petrol" selected>Petroleum-fuelled internal combustion engine</option>
    		<option value="fusion">Fusion reactor</option>
    		<option value="steam">Steam engine</option>
    		<option value="bio">Bio-fuelled internal combustion engine</option>
    		<option value="electric">Lithium-ion battery</option>
    		<option value="rocket">Rocket fuel</option>
    		<option value="hamster">Hamster</option>
    		<option value="thermo">Thermonuclear reactor</option>
    		<option value="solar">Bank of solar panels</option>
    		<option value="wind">Sailing rig</option>
    	</select>

 

    	<label for="power_units">Primary motive power units:</label>
    	<input type="number" name="power_units" min="1" value="1" />

  	</fieldset>



  	<fieldset>
  		<legend>Backup power:</legend>

  		<label for="aux_power_type">Auxiliary motive power:</label>
    	<select id="aux_power_type" name="aux_power_type">
    		<option value="petrol">Petroleum-fuelled internal combustion engine</option>
    		<option value="fusion">Fusion reactor</option>
    		<option value="steam">Steam engine</option>
    		<option value="bio">Bio-fuelled internal combustion engine</option>
    		<option value="electric">Lithium-ion battery</option>
    		<option value="rocket">Rocket fuel</option>
    		<option value="hamster">Hamster</option>
    		<option value="thermo">Thermonuclear reactor</option>
    		<option value="solar">Bank of solar panels</option>
    		<option value="wind">Sailing rig</option>
    	</select>

    	<br>
    
    	<label for="aux_power_units">Auxiliary motive power units:</label>
    	<input type="number" name="aux_power_units" min="0" value="0" />

  	</fieldset>



    <fieldset>
    	<legend>Hamster booster:</legend>

    	<label for="hamster_booster">Hamster booster:</label>
    	<input type="number" name="hamster_booster" value="0" />

    </fieldset>



    <fieldset>
    	<legend>Armour and Attack:</legend>

    	<label for="armour">Armour:</label>
		<select id="armour" name="armour">
			<option value="none" selected>None</option>
			<option value="wood">Wood</option>
			<option value="aluminium">Aluminium</option>
			<option value="thinsteel">Thin steel</option>
			<option value="thicksteel">Thick steel</option>
			<option value="titanium">Titanium</option>
		</select>

		<br>

		<label for="attack">Offensive capability:</label>
		<select id="attack" name="attack">
			<option value="none" selected>None</option>
			<option value="spike">Spike</option>
			<option value="flame">Flame</option>
			<option value="charge">Charge</option>
			<option value="biohazard">Biohazard</option>
		</select>

		<br>

		<label for="qty_attacks">Number of attacks:</label>
    	<input type="number" name="qty_attacks" value="0" min="0" />

    </fieldset>



    <fieldset>
    	<legend>Special features:</legend>

    	<label for="fireproof">Fireproof?</label>
    	<input type="radio" id="true" name="fireproof" value="true">
    	<label for="true">Yes</label>
    	<input type="radio" id="false" name="fireproof" value="false" checked>
    	<label for="false">No</label>

    	<br>

    	<label for="insulated">Insulated?</label>
    	<input type="radio" id="true" name="insulated" value="true">
    	<label for="true">Yes</label>
    	<input type="radio" id="false" name="insulated" value="false" checked>
    	<label for="false">No</label>

		<br>    

    	<label for="antibiotic">Antibiotic?</label>
    	<input type="radio" id="true" name="antibiotic" value="true">
    	<label for="true">Yes</label>
    	<input type="radio" id="false" name="antibiotic" value="false" checked>
    	<label for="false">No</label>

    	<br>

    	<label for="banging">Banging sound system?</label>
    	<input type="radio" id="true" name="banging" value="true">
    	<label for="true">Yes</label>
    	<input type="radio" id="false" name="banging" value="false" checked>
    	<label for="false">No</label>

    </fieldset>



    <fieldset>
    	<legend>Algorithm:</legend>

    	 <label for="algo">Race computer algorithm:</label>
    	 <select id="algo" name="algo">
    		 <option value="defensive">Defensive</option>
    		 <option value="steady" selected>Steady</option>
    		 <option value="offensive">Offensive</option>
    		 <option value="titfortat">Tit-for-tat</option>
    		 <option value="random">Random</option>
    		 <option value="buggy">Buggy</option>
    	 </select>

    </fieldset>
  </div>

<div class="spacer">
    <input type="submit" class="button">
</div>

  </form>

  <p>
    <a href="/" class="button">Home</a>
  </p>

{% endblock %}
