{% extends "base.html" %}

{% block content %}

{% if buggy %}
	<h1>Editing buggy #{{ buggy['id'] }}</h1>
{% else %}
    <h1>Making a buggy</h1>
{% endif %}

  <div class="container">
  <form action="/new" method="post" class="options">

  	<label for="id">Buggy ID:</label>
    <input type="text" name="id" value="{{ buggy['id'] }}" readonly/>

  	<fieldset>
  		<legend>Flag design:</legend>

  		<label for="flag_color">Colour of flag:</label>
    	<input type="color" name="flag_color" value="{{ buggy['flag_color'] }}" id="flag_color"/>

    	<br>

    	<label for="flag_pattern">Pattern on flag:</label>
    	<select id="flag_pattern" name="flag_pattern">
    		<option value="plain" {% if buggy['flag_pattern'] == "plain" %} selected {% endif %}>Plain</option>
    		<option value="vstripe" {% if buggy['flag_pattern'] == "vstripe" %} selected {% endif %}>Vertical stripes</option>
    		<option value="hstripe" {% if buggy['flag_pattern'] == "hstripe" %} selected {% endif %}>Horizontal stripes</option>
    		<option value="dstripe" {% if buggy['flag_pattern'] == "dstripe" %} selected {% endif %}>Diagonal stripes</option>
    		<option value="checker" {% if buggy['flag_pattern'] == "checker" %} selected {% endif %}>Checkered</option>
    		<option value="spot" {% if buggy['flag_pattern'] == "spot" %} selected {% endif %}>Spots</option>
   	 	</select>

   	 	<br>

   	 	<label for="flag_color_secondary">Secondary colour on flag:</label>
    	<input type="color" name="flag_color_secondary" value="{{ buggy['flag_color_secondary'] }}" />

    	<br>

    	<input type="button" onclick="alert('1.For every pattern except plain, the secondary colour must be different from the original colour.')" value="Rules for flag design">

  	</fieldset>



  	<fieldset>
  		<legend>Wheels and Tyres:</legend>

  		<label for="qty_wheels">Number of wheels:</label>
    	<input type="number" name="qty_wheels" id="qty_wheels" min="4" value="{{ buggy['qty_wheels'] }}" step="2" />

    	<br>

    	<label for="tyres">Type of tyres:</label>
    	<select id="tyres" name="tyres">
    		<option value="knobbly" {% if buggy['tyres'] == "knobbly" %} selected {% endif %} >Knobbly</option>
    		<option value="slick" {% if buggy['tyres'] == "slick" %} selected {% endif %}>Slick</option>
    		<option value="steelband" {% if buggy['tyres'] == "steelband" %} selected {% endif %}>Steelband</option>
    		<option value="reactive" {% if buggy['tyres'] == "reactive" %} selected {% endif %}>Reactive</option>
    		<option value="maglev" {% if buggy['tyres'] == "maglev" %} selected {% endif %}>Maglev</option>
    	</select>

    	<br>

    	<label for="qty_tyres">Number of tyres:</label>
    	<input type="number" name="qty_tyres" value="{{ buggy['qty_tyres'] }}" min="4" id="qty_tyres"/>


    	<input type="button" onclick="alert('1.The number of wheels on your buggy must be even. 2.The number of tyres must be equal to or greater than the number of wheels.')" value="Rules for wheels and tyres">

    	

  	</fieldset>

 

  	<fieldset>
  		<legend>Power:</legend>

  		<label for="power_type">Primary motive power:</label>
    	<select id="power_type" name="power_type">
    		<option value="petrol" {% if buggy['power_type'] == "petrol" %} selected {% endif %}>Petroleum-fuelled internal combustion engine</option>
    		<option value="fusion" {% if buggy['power_type'] == "fusion" %} selected {% endif %}>Fusion reactor</option>
    		<option value="steam" {% if buggy['power_type'] == "steam" %} selected {% endif %}>Steam engine</option>
    		<option value="bio" {% if buggy['power_type'] == "bio" %} selected {% endif %}>Bio-fuelled internal combustion engine</option>
    		<option value="electric" {% if buggy['power_type'] == "electric" %} selected {% endif %}>Lithium-ion battery</option>
    		<option value="rocket" {% if buggy['power_type'] == "rocket" %} selected {% endif %}>Rocket fuel</option>
    		<option value="hamster" {% if buggy['power_type'] == "hamster" %} selected {% endif %}>Hamster</option>
    		<option value="thermo" {% if buggy['power_type'] == "thermo" %} selected {% endif %}>Thermonuclear reactor</option>
    		<option value="solar" {% if buggy['power_type'] == "solar" %} selected {% endif %}>Bank of solar panels</option>
    		<option value="wind" {% if buggy['power_type'] == "wind" %} selected {% endif %}>Sailing rig</option>
    	</select>


    	<label for="power_units">Primary motive power units:</label>
    	<input type="number" name="power_units" id="power_units" min="1" value="{{ buggy['power_units'] }}" />

    	<input type="button" onclick="alert('1.You can only have one unit of non-consumbale power (non-consumable powers: Fusion reactor, Thermonuclear reactor, Bank of solar panels, Sailing rig) per motive force.')" value="Rules for power">

  	</fieldset>



  	<fieldset>
  		<legend>Backup power:</legend>

  		<label for="aux_power_type">Auxiliary motive power:</label>
    	<select id="aux_power_type" name="aux_power_type">
    		<option value="petrol" {% if buggy['aux_power_type'] == "petrol" %} selected {% endif %}>Petroleum-fuelled internal combustion engine</option>
    		<option value="fusion" {% if buggy['aux_power_type'] == "fusion" %} selected {% endif %}>Fusion reactor</option>
    		<option value="steam" {% if buggy['aux_power_type'] == "steam" %} selected {% endif %}>Steam engine</option>
    		<option value="bio" {% if buggy['aux_power_type'] == "bio" %} selected {% endif %}>Bio-fuelled internal combustion engine</option>
    		<option value="electric" {% if buggy['aux_power_type'] == "electric" %} selected {% endif %}>Lithium-ion battery</option>
    		<option value="rocket" {% if buggy['aux_power_type'] == "rocket" %} selected {% endif %}>Rocket fuel</option>
    		<option value="hamster" {% if buggy['aux_power_type'] == "hamster" %} selected {% endif %}>Hamster</option>
    		<option value="thermo" {% if buggy['aux_power_type'] == "thermo" %} selected {% endif %}>Thermonuclear reactor</option>
    		<option value="solar" {% if buggy['aux_power_type'] == "solar" %} selected {% endif %}>Bank of solar panels</option>
    		<option value="wind" {% if buggy['aux_power_type'] == "wind" %} selected {% endif %}>Sailing rig</option>
    	</select>

    	<br>
    
    	<label for="aux_power_units">Auxiliary motive power units:</label>
    	<input type="number" name="aux_power_units" id="aux_power_units" min="0" value="{{ buggy['aux_power_units'] }}" />

    	<input type="button" onclick="alert('1.You can only have one unit of non-consumbale power (non-consumable powers: Fusion reactor, Thermonuclear reactor, Bank of solar panels, Sailing rig) per motive force.')" value="Rules for backup power">

  	</fieldset>



    <fieldset>
    	<legend>Hamster booster:</legend>

    	<label for="hamster_booster">Hamster booster:</label>
    	<input type="number" name="hamster_booster" id="hamster_booster" value="{{ buggy['hamster_booster'] }}" min="0"/>

    	<input type="button" onclick="alert('1.Only effective if you have hamster motive power.')" value="Rules for Hamster booster">

    </fieldset>



    <fieldset>
    	<legend>Armour and Attack:</legend>

    	<label for="armour">Armour:</label>
		<select id="armour" name="armour">
			<option value="none" {% if buggy['armour'] == "none" %} selected {% endif %}>None</option>
			<option value="wood" {% if buggy['armour'] == "wood" %} selected {% endif %}>Wood</option>
			<option value="aluminium" {% if buggy['armour'] == "aluminium" %} selected {% endif %}>Aluminium</option>
			<option value="thinsteel" {% if buggy['armour'] == "thinsteel" %} selected {% endif %}>Thin steel</option>
			<option value="thicksteel" {% if buggy['armour'] == "thicksteel" %} selected {% endif %}>Thick steel</option>
			<option value="titanium" {% if buggy['armour'] == "titanium" %} selected {% endif %}>Titanium</option>
		</select>

		<br>

		<label for="attack">Offensive capability:</label>
		<select id="attack" name="attack">
			<option value="none" {% if buggy['attack'] == "none" %} selected {% endif %}>None</option>
			<option value="spike" {% if buggy['attack'] == "spike" %} selected {% endif %}>Spike</option>
			<option value="flame" {% if buggy['attack'] == "flame" %} selected {% endif %}>Flame</option>
			<option value="charge" {% if buggy['attack'] == "charge" %} selected {% endif %}>Charge</option>
			<option value="biohazard" {% if buggy['attack'] == "biohazard" %} selected {% endif %}>Biohazard</option>
		</select>

		<br>

		<label for="qty_attacks">Number of attacks:</label>
    	<input type="number" name="qty_attacks" id="qty_attacks" value="{{ buggy['qty_attacks'] }}" min="0" />

    	<input type="button" onclick="alert('1.Armour is not a requirement for entry in any race.')" value="Rules for Armour">

		<input type="button" onclick="alert('1.Each attack can be deployed once and only once. 2.The likelihood of being able to execute the attack is influenced by the race computer algorithm your buggy has.')" value="Rules for Attacks">

    </fieldset>



    <fieldset>
    	<legend>Special features:</legend>

    	<label for="fireproof">Fireproof?</label>
    	<input type="radio" id="true" name="fireproof" value="true" {% if buggy['fireproof'] == "true" %} checked {% endif %}>
    	<label for="true">Yes</label>
    	<input type="radio" id="false" name="fireproof" value="false" {% if buggy['fireproof'] == "false" %} checked {% endif %}>
    	<label for="false">No</label>

    	<br>

    	<label for="insulated">Insulated?</label>
    	<input type="radio" id="true" name="insulated" value="true" {% if buggy['insulated'] == "true" %} checked {% endif %}>
    	<label for="true">Yes</label>
    	<input type="radio" id="false" name="insulated" value="false" {% if buggy['insulated'] == "false" %} checked {% endif %}>
    	<label for="false">No</label>

		<br>    

    	<label for="antibiotic">Antibiotic?</label>
    	<input type="radio" id="true" name="antibiotic" value="true" {% if buggy['antibiotic'] == "true" %} checked {% endif %}>
    	<label for="true">Yes</label>
    	<input type="radio" id="false" name="antibiotic" value="false" {% if buggy['antibiotic'] == "false" %} checked {% endif %}>
    	<label for="false">No</label>

    	<br>

    	<label for="banging">Banging sound system?</label>
    	<input type="radio" id="true" name="banging" value="true" {% if buggy['banging'] == "true" %} checked {% endif %}>
    	<label for="true">Yes</label>
    	<input type="radio" id="false" name="banging" value="false" {% if buggy['banging'] == "false" %} checked {% endif %}>
    	<label for="false">No</label>

    </fieldset>



    <fieldset>
    	<legend>Algorithm:</legend>

    	 <label for="algo">Race computer algorithm:</label>
    	 <select id="algo" name="algo">
    	 	<option value="steady" {% if buggy['algo'] == "steady" %} selected {% endif %}>Steady</option>
    		 <option value="defensive" {% if buggy['algo'] == "defensive" %} selected {% endif %}>Defensive</option> 
    		 <option value="offensive" {% if buggy['algo'] == "offensive" %} selected {% endif %}>Offensive</option>
    		 <option value="titfortat" {% if buggy['algo'] == "titfortat" %} selected {% endif %}>Tit-for-tat</option>
    		 <option value="random" {% if buggy['algo'] == "random" %} selected {% endif %}>Random</option>
    		 <option value="buggy" {% if buggy['algo'] == "buggy" %} selected {% endif %}>Buggy</option>
    	 </select>

    	 <br>

    	 <input type="button" onclick="alert('1.Must not be buggy. Buggy is what happens when your race computer goes wrong: it is not a state you choose.')" value="Rules for Algorithms">

    </fieldset>

  </div>

  <fieldset>
    	<legend>Total cost of current buggy:</legend>
    	<label for="total_cost">Total cost =</label>
    	<input type="text" id="total_cost" name="total_cost" value="{{ buggy['total_cost'] }}" disabled>
    </fieldset>

<div class="spacer">

	<a href="#" class="button" onClick="autoFill()" >Autofill empty fields</a>

    <input type="submit" class="button">

     <a href="/" class="button">Home</a>

</div>

  </form>

  <script>
  	function autoFill() {

  		var fireElements = document.getElementsByName("fireproof");

  		for (var i=0; i<fireElements.length; i++) {
  			if (fireElements[i].getAttribute('value') == 'false') {
  				fireElements[i].checked = 'true';
  			}
  		}

  		var insulElements = document.getElementsByName("insulated");

  		for (var i=0; i<insulElements.length; i++) {
  			if (insulElements[i].getAttribute('value') == 'false') {
  				insulElements[i].checked = 'true';
  			}
  		}

  		var antiElements = document.getElementsByName("antibiotic");

  		for (var i=0; i<antiElements.length; i++) {
  			if (antiElements[i].getAttribute('value') == 'false') {
  				antiElements[i].checked = 'true';
  			}
  		}

  		var bangElements = document.getElementsByName("banging");

  		for (var i=0; i<bangElements.length; i++) {
  			if (bangElements[i].getAttribute('value') == 'false') {
  				bangElements[i].checked = 'true';
  			}
  		}

  		if (document.getElementById('qty_wheels').value == "") {
  		document.getElementById("qty_wheels").value = "4";

  		} if (document.getElementById('qty_tyres').value == "") {
  			document.getElementById("qty_tyres").value = document.getElementById("qty_wheels").value;

  		} if (document.getElementById('power_units').value == "") {
  			document.getElementById("power_units").value = "1";

  		} if (document.getElementById('aux_power_units').value == "") {
  			document.getElementById("aux_power_units").value = "0";

  		} if (document.getElementById('hamster_booster').value == "") {
  			document.getElementById("hamster_booster").value = "0";

  		} if (document.getElementById('qty_attacks').value == "") {
  			document.getElementById("qty_attacks").value = "0";

  		} else
  		return false;
  	}

  </script>



{% endblock %}
